* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0px;
    background-color: #f5f5eb;
}

.left {
    display: flex;
    justify-content: center;
    position: relative;
}

.img {
    height: 100vh;
    width: auto;
    position: relative;
}

.logo {
    padding: 2vh 0vh;
    position: absolute;
    top: 20vh;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: center;
    font-size: 10vh;
}

.logo > p {
    font-family: odin;
    margin: 0px;
    position: relative;
    top: 1.2vh;
}

.odin {
    height: 15vh;
}

.footer {
    position: absolute;
    bottom: 1vh;
    color: white;
    margin: 0px;
}

.citation {
    margin: 0px;
    font-size: 2vh;
    font-weight: lighter;
}

.citation > a {
    color: white;
}


.one {
    background-color: white;
}

.text {
    font-size: 3vh;
    margin: 10vh 25vh 7.5vh 7vh;
    display: flex;
    flex-direction: column;
    gap: 4vh
}

.text > p {
    margin: 0px;
}

fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10vh 4vw;

}

.input-group {
    display: flex;
    justify-content: baseline;
    gap: 6vw;
    height: 7vh;
}

legend {
    position: absolute;
    top: 2vh;
    font-size: 3vh;
}

.input-element {
    display: flex;
    flex-direction: column;
    flex: 0 0 18vw;
    height: 5vh;
}

.one {
    gap: 4vh;
}

label {
    color: rgb(76, 76, 76);
    letter-spacing: 0.1em;
    font-size: 0.75em;
}

input {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5vh;
    border: 1.5px solid rgb(182, 182, 182);
    border-radius: 1vh;
    padding: 1vh;
}