* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0px;
    background-color: #f5f5eb;
}

.left {
    display: flex;
    justify-content: center;
    position: relative;
}

.img {
    height: 100vh;
    width: auto;
    position: relative;
}

.logo {
    padding: 2vh 0vh;
    position: absolute;
    top: 20vh;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: center;
    font-size: 10vh;
}

.logo > p {
    font-family: odin;
    margin: 0px;
    position: relative;
    top: 1.2vh;
}

.odin {
    height: 15vh;
}

.footer {
    position: absolute;
    bottom: 1vh;
    color: white;
    margin: 0px;
}

.citation {
    margin: 0px;
    font-size: 2vh;
    font-weight: lighter;
}

.citation > a {
    color: white;
}


.one {
    background-color: white;
}

.text {
    font-size: 3vh;
    margin: 5vh 25vh 5vh 7vh;
    display: flex;
    flex-direction: column;
    gap: 4vh
}

.text > p {
    margin: 0px;

}

fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10vh 4vw;

}

.input-group {
    display: flex;
    justify-content: baseline;
    gap: 6vw;
    height: 7vh;
}

legend {
    position: absolute;
    top: 2vh;
    font-size: 3vh;
}

.input-element {
    display: flex;
    flex-direction: column;
    flex: 0 0 18vw;
    height: 5vh;
}

.one {
    gap: 4vh;
    padding-bottom: 5vh;
}

.two {
    padding-top: 3vh;
    padding-bottom: 0px;
}

label {
    color: rgb(76, 76, 76);
    letter-spacing: 0.1em;
    font-size: 0.75em;
}

input {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5vh;
    border: 1.5px solid rgb(182, 182, 182);
    border-radius: 1vh;
    padding: 1vh;
    transition: 0.3s ease;
}

input:focus {
    border: #596D48 1.5px solid;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(89, 109, 72, 0.5);
}

input:invalid {
    border: 1.5px solid #d9534f;
}

input:invalid:focus {
    border: 1.5px solid #d9534f;
    box-shadow: 0 0 5px 2px rgba(217, 83, 79, 0.5);
}

button {
    background-color: #596D48;
    border: 0px;
    width: 18vw;
    height: 9vh;
    margin: 3vh 0vh 5vh 0vh;
    font-size: 3vh;
    color: white;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #708d57;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.two > p > a {
    color: #596D48;
    transition: color 0.5s ease;
    text-decoration: none;
    position: relative
}


.two > p > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #596d48;
    transition: width 0.3s ease;
}

.two > p > a:hover {
    color: #708d57;
}

.two > p > a:hover::after {
    width: 100%;
}

.two > p {
    font-size: 3vh;
    margin: 0px;
}

.error-message {
    display: none;
    color: #d9534f;
    font-size: 1.5vh;
    margin-top: 0px;
  }

  input:invalid + .error-message {
    display: block;
  }